@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #3C354F;
    --primary-font: 'Work Sans', sans-serif;
    --linear-color: #ff73bc;
    --title-color-black: #0B0223;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.primary-btn{
    border-style: none;
    font-family: var(--primary-font);
    font-weight: 500;
    color: #fff;
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    transform: 0.5s linear;
    margin-top: 20px;
    font-size: 1.1rem;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.sec-title h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    font-family: var(--primary-font);
    color: var(--title-color-black);
    font-weight: 700;
}
.sec-title h3 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sec-title p{
    font-size: 1rem;
    font-family: var(--primary-font);
}



/* Header part css start */

nav {
    padding: 20px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 10px;
    font-size: 2.3rem;
    font-family: var(--primary-font);
    font-weight: 700;
}

.logo h1 span {
    /* color: var(--linear-color); */
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-box ul {
    display: flex;
    align-items: center;
}

.menu-box ul li {
    list-style: none;
    margin-left: 25px;
}

.menu-box ul li {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
}

.nav-follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.menu-box ul li a {
    color: var(--primary-color);
}

.menu-box ul li a:first-child img {
    width: 2.8rem;
}

.menu-box ul li a:last-child img {
    width: 1rem;
}
/* Nav part css end */

/* Banner part css start */

.banner-section{
    background: url(../images/Group\ 14.png) no-repeat left top;
}
.banner-container{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 20px; */
}
.banner-content h2{
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: 2.2rem;
    color: var(--title-color-black);
    font-weight: 600;
}
.banner-content h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 800;
font-size: 4.5rem;
}
.banner-img{
    text-align: right;
}
.banner-img img{
    width: 70%;
}
.banner-content ul li{
    list-style: none;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 500;
    margin: 10px 0;
    font-size: 1.1rem;
}
.banner-content ul li i{
    margin-right: 5px;
}
.banner-content ul li:first-child i{
    border-radius: 50%;
    padding: 5px 7px;
    margin-left: -5px;
    color: var(--linear-color);
    border: 1.5px solid var(--primary-color);
}
.banner-content ul li:nth-child(2) i{
    color: var(--linear-color);
}
.banner-btn2{
    background: #4EC5F7;
    margin-left: 10px;
}
.banner-btn1:hover {
    background: #4EC5F7;
    cursor: pointer;
}
.banner-btn2:hover {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    cursor: pointer;
}
/* banner part css end */

/* online part css start */
.online-section{
    padding: 70px 0;
}
.online-title{
    text-align: center;
}
.online-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}
.online-img-box img{
    width: 100%;
}
.online-img{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.online-img-overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 96%;
    width: 96%;
    content: "";
    background: #0000005b;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: 0.5s;
    border: 10px solid var(--linear-color);
}
.online-img-overlay i{
    font-size: 1.5rem;
    color: white;
    transition: 0.5s;
}
.online-img-box p{
    font-size: 1rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
    transition: 0.5s;
}
.online-img-overlay p{
    font-size: 1rem;
    color: var(--linear-color);
    font-weight: 800;
}
.online-img:hover .online-img-overlay{
    opacity: 1;
}
.online-img-overlay i:hover,
.online-img-overlay p:hover
{
    transform: scale(1.2);
    cursor: pointer;
}



/* Responsive CSS start */

@media screen and (max-width: 576px) {
    .nav-container,
    .menu-box ul,
    .banner-container
    {
        flex-direction: column;
    }
    .menu-box ul{
        gap: 15px;
        margin-top: 15px;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner-img,
    .banner-content 
    {
        text-align: center;
    }
    .banner-section{
        background: none;
    }
    .banner-content{
        background: url(../images/Group\ 14.png) no-repeat left top;
        background-size: cover;
        padding: 20px 30px;
        margin-top: 30px;
    } 
    .banner-content h2{
        font-size: 1.2rem;
    }
    .banner-content h2 span{
        font-size: 2.5rem;
    }
    .banner-content ul li{
        font-size: 1rem;
    }
    .online-img-container{
        grid-template-columns: 1fr;
    }
    .online-img-box,
    .online-title
    {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .banner-btn2{
        margin-left: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .nav-container,
    .menu-box ul
    {
        flex-direction: column;
    }
    .menu-box ul{
        gap: 15px;
        margin-top: 15px;
    }
    .banner-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner-img,
    .banner-content 
    {
        text-align: center;
    }
    .banner-section{
        background: none;
    }
    .banner-content{
        background: url(../images/Group\ 14.png) no-repeat left top;
        background-size: cover;
        padding: 20px 80px;
        margin-top: 30px;
    } 
    .banner-content h2{
        font-size: 1.2rem;
    }
    .banner-content h2 span{
        font-size: 2.5rem;
    }
    .banner-content ul li{
        font-size: 1rem;
    }
    .online-img-container{
        grid-template-columns: 1fr 1fr;
    }
    .online-img-box{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .banner-btn2{
        margin-left: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}