@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #3C354F;
    --primary-font: 'Work Sans', sans-serif;
    --linear-color: #ff73bc;
    --title-color-black: #0B0223;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.primary-btn{
    border-style: none;
    font-family: var(--primary-font);
    font-weight: 500;
    color: #fff;
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    transform: 0.5s linear;
    margin-top: 20px;
    font-size: 1.1rem;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.sec-title h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    font-family: var(--primary-font);
    color: var(--title-color-black);
    font-weight: 700;
}
.sec-title h3 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sec-title p{
    font-size: 1rem;
    font-family: var(--primary-font);
}



/* Header part css start */

nav {
    padding: 20px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 10px;
    font-size: 2.3rem;
    font-family: var(--primary-font);
    font-weight: 700;
}

.logo h1 span {
    /* color: var(--linear-color); */
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-box ul {
    display: flex;
    align-items: center;
}

.menu-box ul li {
    list-style: none;
    margin-left: 25px;
}

.menu-box ul li {
    display: flex;
    align-items: center;
    padding: 3px 10px;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
}

.nav-follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.menu-box ul li a {
    color: var(--primary-color);
}

.menu-box ul li a:first-child img {
    width: 2.8rem;
}

.menu-box ul li a:last-child img {
    width: 1rem;
}
/* Nav part css end */

/* Banner part css start */

.banner-section{
    background: url(../images/Group\ 14.png) no-repeat left top;
}
.banner-container{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 20px; */
}
.banner-content h2{
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: 2.2rem;
    color: var(--title-color-black);
    font-weight: 600;
}
.banner-content h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 800;
font-size: 4.5rem;
}
.banner-img{
    text-align: right;
}
.banner-img img{
    width: 70%;
}
.banner-content ul li{
    list-style: none;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 500;
    margin: 10px 0;
    font-size: 1.1rem;
}
.banner-content ul li i{
    margin-right: 5px;
}
.banner-content ul li:first-child i{
    border-radius: 50%;
    padding: 5px 7px;
    margin-left: -5px;
    color: var(--linear-color);
    border: 1.5px solid var(--primary-color);
}
.banner-content ul li:nth-child(2) i{
    color: var(--linear-color);
}
.banner-btn2{
    background: #4EC5F7;
    margin-left: 10px;
}
.banner-btn1:hover {
    background: #4EC5F7;
    cursor: pointer;
}
.banner-btn2:hover {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    cursor: pointer;
}
/* banner part css end */


/* Gamer part CSS start */
.gamer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.game-img-box img{
    width: 100%;
}
.game-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    gap: 10px;
}
.game-content h3{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-family: var(--primary-font);
    font-weight: 700;
}
.game-content p{
    font-size: 1rem;
    color: var(--title-color-black);
    font-family: var(--primary-font);
}
.gamer-btn:hover{
    background: #4EC5F7;
    cursor: pointer;
}
.game-content h5{
    font-size: 1.2rem;
    color: var(--title-color-black);
    font-family: var(--primary-font);
    font-weight: 500;
}
.game-content h4{
    font-size: 1.4rem;
    color: var(--title-color-black);
    font-family: var(--primary-font);
    font-weight: 700;
}

/* Gamer part CSS end */

/* online part css start */
.online-section{
    padding: 70px 0;
}
.online-title{
    text-align: center;
}
.online-img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}
.online-img-box img{
    width: 100%;
}
.online-img{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.online-img-overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 96%;
    width: 96%;
    content: "";
    background: #0000005b;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: 0.5s;
    border: 10px solid var(--linear-color);
}
.online-img-overlay i{
    font-size: 1.5rem;
    color: white;
    transition: 0.5s;
}
.online-img-box p{
    font-size: 1rem;
    font-family: var(--primary-font);
    color: var(--primary-color);
    transition: 0.5s;
}
.online-img-overlay p{
    font-size: 1rem;
    color: var(--linear-color);
    font-weight: 800;
}
.online-img:hover .online-img-overlay{
    opacity: 1;
}
.online-img-overlay i:hover,
.online-img-overlay p:hover
{
    transform: scale(1.2);
    cursor: pointer;
}
/* online css end */

/* play part css start */
.play-section{
    padding: 50px 0;
}
.play-container{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 120px;
}
.play-title{
    width: 30%;
    text-align: right;
}
.play-title p{
    margin-top: 20px;
}
.play-img-container{
    width: 40%;
    position: relative;
}
.play-img-container img{
    width: 100%;
}
.play-over-img{
    position: absolute;
    width: 200px !important;
    bottom: -50px;
    left: -100px;
}
/* play part css end */

/* carrer part css start */
.career-section{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.career-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.career-content{
    width: 65%;
}
.career-content h2{
    font-size: 2.3rem;
    font-family: var(--primary-font);
    font-weight: 800;
    color: #fff;
}
.career-content p{
    font-size: 0.9rem;
    font-family: var(--primary-font);
    color: #fff;
    font-weight: 400;
}
.career-list-box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.career-list-box ul li{
    list-style: none;
    color: #fff;
    font-family: var(--primary-font);
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
}
.career-list2{
    text-align: right;
}
.carrer-btn{
    background: #fff;
    color: var(--linear-color);
}
.career-img-box img{
    width: 100%;
}

/* carrer part css end */

/* allgames part css start */

.allgames-section{
    padding: 50px 0;
}
.allgames-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* display: flex; */
    justify-content: space-between;
    padding: 5px 15px;
    gap: 10px;
    align-content: space-between;
    text-align: center;
}
.allgame-box{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: 0.5s;
}
.allgame-box:hover{
    border: 2px solid var(--linear-color);
    cursor: pointer;
}
.allgame-box p{
    transition: 0.5s;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.3rem;
}
.allgame-box:hover p{
    color: var(--linear-color);
}
.allgames-container2 p{
    margin-right: 15px;
}
.allgame-box img{
    width: 50px;
}

/* allgames part css end */

/* footer part css start */
footer{
    padding: 100px 0;
    background: #0B0223;
    color: #fff;
    text-align: center;
}
.footer-container .logo{
    justify-content: center;
}
.footer-container ul{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.footer-menu{
    width: 60%;
    margin: 0 auto;
}
.social-menu{
    width: 25%;
    margin: 0 auto;
}
.terms-nav{
    width: 55%;
    margin: 0 auto;
}
.footer-container ul li{
    list-style: none;
}
.footer-container ul li a{
    color: #fff;
    text-transform: capitalize;
    font-family: var(--primary-font);
    transition: 0.5s;
}
.footer-container ul li a:hover{
    color: var(--linear-color);
}
footer small{
    font-family: var(--primary-font);
    opacity: 0.5;
}

/* footer part css end */


/* Responsive CSS start */

@media screen and (max-width: 576px) {
    .nav-container,
    .menu-box ul,
    .banner-container,
    .play-container,
    .career-container
    {
        flex-direction: column;
    }
    .menu-box ul{
        gap: 15px;
        margin-top: 15px;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner-img,
    .banner-content 
    {
        text-align: center;
    }
    .banner-section{
        background: none;
    }
    .banner-content{
        background: url(../images/Group\ 14.png) no-repeat left top;
        background-size: cover;
        padding: 20px 30px;
        margin-top: 30px;
    } 
    .banner-content h2{
        font-size: 1.2rem;
    }
    .banner-content h2 span{
        font-size: 2.5rem;
    }
    .banner-content ul li{
        font-size: 1rem;
    }
    .online-img-container{
        grid-template-columns: 1fr;
    }
    .online-img-box,
    .online-title
    {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .banner-btn2{
        margin-left: 0;
    }
    .gamer-container{
        grid-template-columns: 1fr;
    }
    .game-content{
        width: 80%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }

    .play-container{
        justify-content: center;
        gap: 20px;
    }
    .play-title{
        width: 80%;
        text-align: center;
    }
    .play-img-container{
        width: 65%;
    }
    .play-over-img{
        width: 130px !important;
        bottom: -50px;
        left: -50px;
    }
    .career-section{
        margin-top: 50px;
    }
    .career-content{
        padding: 50px 0;
        width: 90%;
    }
    footer{
        padding: 40px 0;
    }
    .footer-menu{
        width: 100%;
        margin: 0 auto;
    }
    .social-menu{
        width: 50%;
        margin: 0 auto;
    }
    .terms-nav{
        width: 100%;
        margin: 0 auto;
    }
    .footer-menu ul, 
    .terms-nav ul{
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .nav-container,
    .menu-box ul,
    .career-container
    {
        flex-direction: column;
    }
    .menu-box ul{
        gap: 15px;
        margin-top: 15px;
    }
    .banner-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner-img,
    .banner-content 
    {
        text-align: center;
    }
    .banner-section{
        background: none;
    }
    .banner-content{
        background: url(../images/Group\ 14.png) no-repeat left top;
        background-size: cover;
        padding: 20px 80px;
        margin-top: 30px;
    } 
    .banner-content h2{
        font-size: 1.2rem;
    }
    .banner-content h2 span{
        font-size: 2.5rem;
    }
    .banner-content ul li{
        font-size: 1rem;
    }
    .online-img-container{
        grid-template-columns: 1fr 1fr;
    }
    .online-img-box{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .banner-btn2{
        margin-left: 0;
    }
    .gamer-container{
        grid-template-columns: 1fr;
    }
    .game-content{
        width: 80%;
        margin: 0 auto;

    align-items: center;
    text-align: center;
    }

    .play-container{
        gap: 70px;
    }
    .play-title{
        width: 40%;
    }
    .play-img-container{
        width: 40%;
        margin-right: auto;
    }
    .play-over-img{
        width: 160px !important;
        bottom: -50px;
        left: -50px;
    }
    .career-section{
        margin-top: 50px;
    }
    .career-content{
        padding: 50px 0;
        width: 90%;
    }
    .footer-menu{
        width: 80%;
        margin: 0 auto;
    }
    .social-menu{
        width: 30%;
        margin: 0 auto;
    }
    .terms-nav{
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}